#Db:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=SchoolEventDays
DB_PORT=8889
DB_WAITFORCONNECTIONS=true
DB_CONNECTION_LIMIT=10
DB_QUEUE_LIMIT=0

#Server port:
SERVER_PORT=3000

#API_KEY_RESEND --> get it from https://resend.com/api-keys 
RESEND_API_KEY=your_resend_api_key

#COD_ADMIN --> for enter admin zone --> the password must have 8 char
ADMIN_PASSWORD=your_9_char_string
ADMIN_PASSWORD_LENGTH=9