# EMAIL CONFIGURATION:
# Gmail account for sending emails
# IMPORTANT: Use App Password, not regular password
# How to get App Password: https://support.google.com/accounts/answer/185833 or from link: https://myaccount.google.com/apppasswords
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password_here

#Db:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=SchoolEventDays
DB_PORT=8889
DB_WAITFORCONNECTIONS=true
DB_CONNECTION_LIMIT=10
DB_QUEUE_LIMIT=0

#Server port:
SERVER_PORT=3000